<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <script type="text/javascript" src="/js/custom.js"></script>


    <style>
.stations {
  background-image: url(stations_mono_line.svg);
  margin: auto;
  width: 1260px;
  height: 725px;
  padding: 20px;
  white-space: nowrap;
  }
    </style>
</head>
<body>
<div class="header-text">
<p>EMHI serveris uuenevad andmed iga 10 minuti tagant</p>
<p th:text="${time}">Hetkel on laardil X andmed</p>
<button class="btn draw-border" type="submit"  onClick="refreshPage()">UUENDA ANDMEID</button>
</div>

<div class="stations">


    <p th:text="${jogeva}" class="jogeva size"> / </p>
    <p th:text="${jogeva2}" class="jogeva2 size">/ </p>
    <p th:text="${jogeva3}" class="jogeva3 size"> / </p>

    <p th:text="${johvi}" class="johvi size">/ </p>
    <p th:text="${johvi2}" class="johvi2 size">/</p>
    <p th:text="${johvi3}" class="johvi3 size">/ </p>

    <p th:text="${kihnu}" class="kihnu size">/ </p>
    <p th:text="${kihnu2}" class="kihnu2 size">/ </p>
    <p th:text="${kihnu3}" class="kihnu3 size">/</p>

    <p th:text="${kunda}" class="kunda size">/ </p>
    <p th:text="${kunda2}" class="kunda2 size">/ </p>
    <p th:text="${kunda3}" class="kunda3 size">/ </p>

    <p th:text="${kuusiku}" class="kuusiku size">/ </p>
    <p th:text="${kuusiku2}" class="kuusiku2 size">/ </p>
    <p th:text="${kuusiku3}" class="kuusiku3 size">/ </p>

    <p th:text="${laanenigula}" class="laanenigula size">/ </p>
    <p th:text="${laanenigula2}" class="laanenigula2 size">/ </p>
    <p th:text="${laanenigula3}" class="laanenigula3 size">/ </p>

    <p th:text="${narva}" class="narva size">hetkel ei ole teenus kättesaadav </p>
    <p th:text="${narva2}" class="narva2 size">hetkel ei ole teenus kättesaadav </p>
    <p th:text="${narva3}" class="narva3 size">hetkel ei ole teenus kättesaadav </p>

    <p th:text="${parnu}" class="parnu size">/ </p>
    <p th:text="${parnu2}" class="parnu2 size">/ </p>
    <p th:text="${parnu3}" class="parnu3 size">/ </p>

    <p th:text="${ristna}" class="ristna size">/ </p>
    <p th:text="${ristna2}" class="ristna2 size">/ </p>
    <p th:text="${ristna3}" class="ristna3 size">/ </p>

    <p th:text="${ruhnu}" class="ruhnu size">/ </p>
    <p th:text="${ruhnu2}" class="ruhnu2 size">/ </p>
    <p th:text="${ruhnu3}" class="ruhnu3 size">/ </p>

    <p th:text="${sorve}" class="sorve size">/ </p>
    <p th:text="${sorve2}" class="sorve2 size">/ </p>
    <p th:text="${sorve3}" class="sorve3 size">/ </p>

    <p th:text="${harku}" class="harku size">/ </p>
    <p th:text="${harku2}" class="harku2 size">/ </p>
    <p th:text="${harku3}" class="harku3 size">/ </p>

    <p th:text="${toravere}" class="toravere size">/ </p>
    <p th:text="${toravere2}" class="toravere2 size">/ </p>
    <p th:text="${toravere3}" class="toravere3 size">/ </p>

    <p th:text="${mustvee}" class="mustvee size">/ </p>
    <p th:text="${mustvee2}" class="mustvee2 size">/ </p>
    <p th:text="${mustvee3}" class="mustvee3 size">/ </p>

    <p th:text="${turi}" class="turi size">/ </p>
    <p th:text="${turi2}" class="turi2 size">/ </p>
    <p th:text="${turi3}" class="turi3 size">/ </p>

    <p th:text="${vaikemaarja}" class="vaikemaarja size">/ </p>
    <p th:text="${vaikemaarja2}" class="vaikemaarja2 size">/ </p>
    <p th:text="${vaikemaarja3}" class="vaikemaarja3 size">/ </p>

    <p th:text="${viljandi}" class="viljandi size">/ </p>
    <p th:text="${viljandi2}" class="viljandi2 size">/ </p>
    <p th:text="${viljandi3}" class="viljandi3 size">/ </p>

    <p th:text="${vilsandi}" class="vilsandi size">/ </p>
    <p th:text="${vilsandi2}" class="vilsandi2 size">/ </p>
    <p th:text="${vilsandi3}" class="vilsandi3 size">/ </p>

    <p th:text="${voru}" class="voru size">/ </p>
    <p th:text="${voru2}" class="voru2 size">/ </p>
    <p th:text="${voru3}" class="voru3 size">/ </p>


</div>
</body>
</html>